@tailwind base;
@tailwind components;
@tailwind utilities;

textarea{
    resize:none;
}

.circle-container{
  position: absolute;
  left: 50%;
  top: 50%;
}

.circle-7xl{
    border-radius: 9999px;
    width:70vw!important;
    height:70vw!important;
}

.circle-5xl{
    border-radius: 9999px;
    width:50vw!important;
    height:50vw!important;
}

.circle-3xl{
    border-radius: 9999px;
    width:30vw!important;
    height:30vw!important;
}

.middle{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle{
  transform: translateX(-50%) translateY(-50%);
  animation: rotating 10s linear infinite;
}

.reverse{
    animation-direction:reverse;

}

.circle-center{
    left:15%;
    top:25%;

}

@keyframes rotating{
from {
  transform: translateX(-50%) translateY(-50%)  rotate(0deg);
}
to {
  transform: translateX(-50%) translateY(-50%)  rotate(359deg);

}
}


circle-border{
    border-width: 2px 2px 0px 0px;
}

.glow{
box-shadow: 0px 0px 50px -10px rgb(255, 255, 205);
}

.z--10{
    z-index: -10;
}

.polka{
  background-image: radial-gradient(rgb(87 83 78) 1px, transparent 0);
  background-size: 120px 120px;
  background-position: -19px -19px;
}
